.service-page {
  margin: auto;
  min-width: 800px;
}

.container-service {
  width: auto;
  margin: 0 auto;
}

.table-services {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 0.5rem;
  grid-column-gap: 3rem;
  padding-bottom: 250px;
}

.item-table {
  text-transform: uppercase;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid rgb(109, 109, 109);
  border-radius: 2px;
  padding: 8px;
}

.title-page {
  width: 100%;
  padding-bottom: 60px;

  & h1 {
    text-transform: uppercase;
  }
}

h1, h4, h5 {
  margin: 0;
  padding: 0;
}

.card {
  background-color: #000;
  color: inherit;
  cursor: pointer;
  width: auto;
  height: auto;
  min-height: 100px;
  min-width: 300px;
  perspective: 1000px;
  position: relative;
}

.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
  &:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: -1;
  }
  .card:hover & {
    transform: rotateY(180deg);
  }
  .card:nth-child(even):hover & {
    transform: rotateY(-180deg);
  }
}

.back {
  background: #000;
  transform: rotateY(-180deg);

  & span {
    font-size: 10px;
    color: rgb(212, 212, 212) !important;
  }
  
  .button {
    background: linear-gradient(135deg, adjust-hue(#000, -20deg), #000);
    
    &:before {
      box-shadow: 0 0 10px 10px rgba(#000, 0.25);
    background-color: rgba(#000, 0.25);
    }
  }
  
  .card:hover & {
    transform: rotateY(0deg);
  }
  
  .card:nth-child(even) & {
    transform: rotateY(180deg);
    
    .button {
    background: #000;
    
    &:before {
      box-shadow: 0 0 10px 10px rgba(#000, 0.25);
    background-color: rgba(#000, 0.25);
    }
  }
  }
  
  .card:nth-child(even):hover & {
    transform: rotateY(0deg);
  }
}
