$colors: (
  common: (
    white: #ffffff,
    black: #121212,
    primary: #191919,
    secondary: #00edd9,
    border: #e4e4e4,
    border-input: #1e1e1e,
    blue-white: #e5edf1,
    gray: #6d6d6d,
    gray-light: #f8f8f8,
    placeholder: #b7b7b7,
  ),
  heading: (
    primary: #5e61b5,
  ),
  grey: (
    1: #f7f8fd,
    2: #f8f8f8,
  ),
  text: (
    body: #ffffff,
    p: #ffffff,
  ),
  theme: (
    1: #5e61b5,
    2: #f2c43e,
    primary: #5e61b5,
    secondary: #f2c43e,
  ),
  border: (
    1: #e8ecf2,
  ),
);
