@font-face {
  font-family: "GENISO";
  src: url("./assets/fonts/CenturyGothic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "CenturyGothic";
  src: url("./assets/fonts/CenturyGothic.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "GOTHIC";
  src: url("./assets/fonts/GOTHIC.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "GOTHICB";
  src: url("./assets/fonts/GOTHICB.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "GOTHICB0";
  src: url("./assets/fonts/GOTHICB0.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "GOTHICBI";
  src: url("./assets/fonts/GOTHICBI.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "GOTHICI";
  src: url("./assets/fonts/GOTHICI.ttf") format("truetype");
  font-weight: 400;
}
